/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-almost-black: #111111;
$color-yellow: #fcda28;
$color-orange: #fcb500;
$color-grey: #adadad;

/* DEVICE WIDTH */
$desktop-width: 1440px;

/* RETINA */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
